3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.deps.json
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.dll
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.pdb
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.runtimeconfig.dev.json
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.runtimeconfig.json
3-writeline/obj/holbertonschool-csharp.csproj.nuget.cache
3-writeline/obj/holbertonschool-csharp.csproj.nuget.dgspec.json
3-writeline/obj/holbertonschool-csharp.csproj.nuget.g.props
3-writeline/obj/holbertonschool-csharp.csproj.nuget.g.targets
3-writeline/obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.cache
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.cache
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.cache
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.dgspec.json
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.g.props
0x00-csharp-hello_world/3-writeline/obj/3-writeline.csproj.nuget.g.targets
0x00-csharp-hello_world/3-writeline/obj/project.assets.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.cache
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.dgspec.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.props
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.targets
0x00-csharp-hello_world/4-print_integer/obj/project.assets.json
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.cache
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.dgspec.json
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.props
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.targets
0x00-csharp-hello_world/5-print_float/obj/project.assets.json
0x00-csharp-hello_world/6-print_string/bin/Debug/netcoreapp2.1/6-print_string.deps.json
0x00-csharp-hello_world/6-print_string/bin/Debug/netcoreapp2.1/6-print_string.dll
0x00-csharp-hello_world/6-print_string/bin/Debug/netcoreapp2.1/6-print_string.pdb
0x00-csharp-hello_world/6-print_string/bin/Debug/netcoreapp2.1/6-print_string.runtimeconfig.dev.json
0x00-csharp-hello_world/6-print_string/bin/Debug/netcoreapp2.1/6-print_string.runtimeconfig.json
0x00-csharp-hello_world/6-print_string/obj/6-print_string.csproj.nuget.cache
0x00-csharp-hello_world/6-print_string/obj/6-print_string.csproj.nuget.dgspec.json
0x00-csharp-hello_world/6-print_string/obj/6-print_string.csproj.nuget.g.props
0x00-csharp-hello_world/6-print_string/obj/6-print_string.csproj.nuget.g.targets
0x00-csharp-hello_world/6-print_string/obj/project.assets.json
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.AssemblyInfo.cs
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.AssemblyInfoInputs.cache
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.assets.cache
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.csproj.CoreCompileInputs.cache
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.csproj.FileListAbsolute.txt
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.csprojAssemblyReference.cache
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.dll
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/6-print_string.pdb
0x00-csharp-hello_world/7-concat/obj/7-concat.csproj.nuget.cache
0x00-csharp-hello_world/7-concat/obj/7-concat.csproj.nuget.dgspec.json
0x00-csharp-hello_world/7-concat/obj/7-concat.csproj.nuget.g.props
0x00-csharp-hello_world/7-concat/obj/7-concat.csproj.nuget.g.targets
0x00-csharp-hello_world/7-concat/obj/project.assets.json
0x00-csharp-hello_world/8-print_variables/obj/8-print_variables.csproj.nuget.cache
0x00-csharp-hello_world/8-print_variables/obj/8-print_variables.csproj.nuget.dgspec.json
0x00-csharp-hello_world/8-print_variables/obj/8-print_variables.csproj.nuget.g.props
0x00-csharp-hello_world/8-print_variables/obj/8-print_variables.csproj.nuget.g.targets
0x00-csharp-hello_world/8-print_variables/obj/project.assets.json
0x00-csharp-hello_world/9-print_specifiers/obj/9-print_specifiers.csproj.nuget.cache
0x00-csharp-hello_world/9-print_specifiers/obj/9-print_specifiers.csproj.nuget.dgspec.json
0x00-csharp-hello_world/9-print_specifiers/obj/9-print_specifiers.csproj.nuget.g.props
0x00-csharp-hello_world/9-print_specifiers/obj/9-print_specifiers.csproj.nuget.g.targets
0x00-csharp-hello_world/9-print_specifiers/obj/project.assets.json
0x00-csharp-hello_world/10-copy_cut_paste/obj/10-copy_cut_paste.csproj.nuget.cache
0x00-csharp-hello_world/10-copy_cut_paste/obj/10-copy_cut_paste.csproj.nuget.dgspec.json
0x00-csharp-hello_world/10-copy_cut_paste/obj/10-copy_cut_paste.csproj.nuget.g.props
0x00-csharp-hello_world/10-copy_cut_paste/obj/10-copy_cut_paste.csproj.nuget.g.targets
0x00-csharp-hello_world/10-copy_cut_paste/obj/project.assets.json
0x00-csharp-hello_world/11-concat_edges/obj/11-concat_edges.csproj.nuget.cache
0x00-csharp-hello_world/11-concat_edges/obj/11-concat_edges.csproj.nuget.dgspec.json
0x00-csharp-hello_world/11-concat_edges/obj/11-concat_edges.csproj.nuget.g.props
0x00-csharp-hello_world/11-concat_edges/obj/11-concat_edges.csproj.nuget.g.targets
0x00-csharp-hello_world/11-concat_edges/obj/project.assets.json
0x00-csharp-hello_world/10-copy_cut_paste/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/10-copy_cut_paste/obj/Debug/netcoreapp2.1/10-copy_cut_paste.AssemblyInfo.cs
0x00-csharp-hello_world/10-copy_cut_paste/obj/Debug/netcoreapp2.1/10-copy_cut_paste.AssemblyInfoInputs.cache
0x00-csharp-hello_world/10-copy_cut_paste/obj/Debug/netcoreapp2.1/10-copy_cut_paste.assets.cache
0x00-csharp-hello_world/10-copy_cut_paste/obj/Debug/netcoreapp2.1/10-copy_cut_paste.csproj.AssemblyReference.cache
0x00-csharp-hello_world/11-concat_edges/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/11-concat_edges/obj/Debug/netcoreapp2.1/11-concat_edges.AssemblyInfo.cs
0x00-csharp-hello_world/11-concat_edges/obj/Debug/netcoreapp2.1/11-concat_edges.AssemblyInfoInputs.cache
0x00-csharp-hello_world/11-concat_edges/obj/Debug/netcoreapp2.1/11-concat_edges.assets.cache
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/3-writeline.AssemblyInfo.cs
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/3-writeline.AssemblyInfoInputs.cache
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/3-writeline.assets.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfo.cs
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfoInputs.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.assets.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.AssemblyInfo.cs
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.AssemblyInfoInputs.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.assets.cache
0x00-csharp-hello_world/6-print_string/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/7-concat/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/7-concat/obj/Debug/netcoreapp2.1/7-concat.AssemblyInfo.cs
0x00-csharp-hello_world/7-concat/obj/Debug/netcoreapp2.1/7-concat.AssemblyInfoInputs.cache
0x00-csharp-hello_world/7-concat/obj/Debug/netcoreapp2.1/7-concat.assets.cache
0x00-csharp-hello_world/8-print_variables/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/8-print_variables/obj/Debug/netcoreapp2.1/8-print_variables.AssemblyInfo.cs
0x00-csharp-hello_world/8-print_variables/obj/Debug/netcoreapp2.1/8-print_variables.AssemblyInfoInputs.cache
0x00-csharp-hello_world/8-print_variables/obj/Debug/netcoreapp2.1/8-print_variables.assets.cache
0x00-csharp-hello_world/9-print_specifiers/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/9-print_specifiers/obj/Debug/netcoreapp2.1/9-print_specifiers.AssemblyInfo.cs
0x00-csharp-hello_world/9-print_specifiers/obj/Debug/netcoreapp2.1/9-print_specifiers.AssemblyInfoInputs.cache
0x00-csharp-hello_world/9-print_specifiers/obj/Debug/netcoreapp2.1/9-print_specifiers.assets.cache
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/0-positive_or_negative.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/0-positive_or_negative.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/0-positive_or_negative.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/0-positive_or_negative.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/Debug/netcoreapp2.1/0-positive_or_negative.AssemblyInfo.cs
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/Debug/netcoreapp2.1/0-positive_or_negative.AssemblyInfoInputs.cache
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/Debug/netcoreapp2.1/0-positive_or_negative.assets.cache
0x01-csharp-ifelse_loops_methods/0-positive_or_negative/obj/Debug/netcoreapp2.1/0-positive_or_negative.csproj.AssemblyReference.cache
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/1-last_digit.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/1-last_digit.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/1-last_digit.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/1-last_digit.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/Debug/netcoreapp2.1/1-last_digit.AssemblyInfo.cs
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/Debug/netcoreapp2.1/1-last_digit.AssemblyInfoInputs.cache
0x01-csharp-ifelse_loops_methods/1-last_digit/obj/Debug/netcoreapp2.1/1-last_digit.assets.cache
0x01-csharp-ifelse_loops_methods/2-print_alphabet/obj/2-print_alphabet.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/2-print_alphabet/obj/2-print_alphabet.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/2-print_alphabet/obj/2-print_alphabet.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/2-print_alphabet/obj/2-print_alphabet.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/2-print_alphabet/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/3-print_alphabt/obj/3-print_alphabt.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/3-print_alphabt/obj/3-print_alphabt.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/3-print_alphabt/obj/3-print_alphabt.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/3-print_alphabt/obj/3-print_alphabt.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/3-print_alphabt/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/4-print_hexa/obj/4-print_hexa.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/4-print_hexa/obj/4-print_hexa.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/4-print_hexa/obj/4-print_hexa.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/4-print_hexa/obj/4-print_hexa.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/4-print_hexa/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/5-print_comb/obj/5-print_comb.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/5-print_comb/obj/5-print_comb.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/5-print_comb/obj/5-print_comb.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/5-print_comb/obj/5-print_comb.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/5-print_comb/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/6-print_comb2/obj/6-print_comb2.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/6-print_comb2/obj/6-print_comb2.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/6-print_comb2/obj/6-print_comb2.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/6-print_comb2/obj/6-print_comb2.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/6-print_comb2/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/7-islower/obj/7-islower.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/7-islower/obj/7-islower.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/7-islower/obj/7-islower.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/7-islower/obj/7-islower.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/7-islower/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/8-print_last_digit/obj/8-print_last_digit.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/8-print_last_digit/obj/8-print_last_digit.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/8-print_last_digit/obj/8-print_last_digit.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/8-print_last_digit/obj/8-print_last_digit.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/8-print_last_digit/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/9-add/obj/9-add.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/9-add/obj/9-add.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/9-add/obj/9-add.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/9-add/obj/9-add.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/9-add/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/10-print_line/obj/10-print_line.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/10-print_line/obj/10-print_line.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/10-print_line/obj/10-print_line.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/10-print_line/obj/10-print_line.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/10-print_line/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/11-print_diagonal/obj/11-print_diagonal.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/11-print_diagonal/obj/11-print_diagonal.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/11-print_diagonal/obj/11-print_diagonal.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/11-print_diagonal/obj/11-print_diagonal.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/11-print_diagonal/obj/project.assets.json
0x01-csharp-ifelse_loops_methods/12-fizzbuzz/obj/12-fizzbuzz.csproj.nuget.cache
0x01-csharp-ifelse_loops_methods/12-fizzbuzz/obj/12-fizzbuzz.csproj.nuget.dgspec.json
0x01-csharp-ifelse_loops_methods/12-fizzbuzz/obj/12-fizzbuzz.csproj.nuget.g.props
0x01-csharp-ifelse_loops_methods/12-fizzbuzz/obj/12-fizzbuzz.csproj.nuget.g.targets
0x01-csharp-ifelse_loops_methods/12-fizzbuzz/obj/project.assets.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/0-main.cs
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/0-print_array.csproj.nuget.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/0-print_array.csproj.nuget.dgspec.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/0-print_array.csproj.nuget.g.props
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/0-print_array.csproj.nuget.g.targets
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/project.assets.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.AssemblyInfo.cs
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.AssemblyInfoInputs.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.assets.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.csproj.AssemblyReference.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/bin/Debug/netcoreapp2.1/0-print_array.deps.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/bin/Debug/netcoreapp2.1/0-print_array.dll
0x02-csharp-arrays_lists_dictionaries/0-print_array/bin/Debug/netcoreapp2.1/0-print_array.pdb
0x02-csharp-arrays_lists_dictionaries/0-print_array/bin/Debug/netcoreapp2.1/0-print_array.runtimeconfig.dev.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/bin/Debug/netcoreapp2.1/0-print_array.runtimeconfig.json
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.csproj.CoreCompileInputs.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.csproj.FileListAbsolute.txt
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.csprojAssemblyReference.cache
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.dll
0x02-csharp-arrays_lists_dictionaries/0-print_array/obj/Debug/netcoreapp2.1/0-print_array.pdb
0x02-csharp-arrays_lists_dictionaries/obj/0x02-csharp-arrays_lists_dictionaries.csproj.nuget.cache
0x02-csharp-arrays_lists_dictionaries/obj/0x02-csharp-arrays_lists_dictionaries.csproj.nuget.dgspec.json
0x02-csharp-arrays_lists_dictionaries/obj/0x02-csharp-arrays_lists_dictionaries.csproj.nuget.g.props
0x02-csharp-arrays_lists_dictionaries/obj/0x02-csharp-arrays_lists_dictionaries.csproj.nuget.g.targets
0x02-csharp-arrays_lists_dictionaries/obj/project.assets.json
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.AssemblyInfo.cs
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.AssemblyInfoInputs.cache
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.assets.cache
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.csproj.CoreCompileInputs.cache
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.csproj.FileListAbsolute.txt
0x02-csharp-arrays_lists_dictionaries/obj/Debug/netcoreapp2.1/0x02-csharp-arrays_lists_dictionaries.csprojAssemblyReference.cache
