3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.deps.json
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.dll
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.pdb
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.runtimeconfig.dev.json
3-writeline/bin/Debug/netcoreapp2.1/holbertonschool-csharp.runtimeconfig.json
3-writeline/obj/holbertonschool-csharp.csproj.nuget.cache
3-writeline/obj/holbertonschool-csharp.csproj.nuget.dgspec.json
3-writeline/obj/holbertonschool-csharp.csproj.nuget.g.props
3-writeline/obj/holbertonschool-csharp.csproj.nuget.g.targets
3-writeline/obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.cache
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.assets.json
obj/holbertonschool-csharp.csproj.nuget.g.targets
obj/holbertonschool-csharp.csproj.nuget.g.props
obj/holbertonschool-csharp.csproj.nuget.dgspec.json
obj/holbertonschool-csharp.csproj.nuget.cache
